DialogueViews/
LSData/
SKSE/Plugins/FISS/
FISS.esp
SEQ/P4PJakTanNPC.SEQ
SKSE/Plugins/Exercise_dataExample.txt
SKSE/Plugins/StackedLevelDistributionsExample.txt
SKSE/Plugins/exerciseDataSync.dll
SKSE/Plugins/fiss.dll
Scripts.rar
*.pex
Scripts/Source/C*
Scripts/Source/[A-D]*
Scripts/Source/[F-L]*
Scripts/Source/MS06IntroTrigScript.psc
Scripts/Source/MS06switchTosserSCRIPT.psc
Scripts/Source/E3*
Scripts/Source/E3DemodragonFinaleScript.psc,Scripts/Source/E3demoDragon01HPmonitor.psc,Scripts/Source/E3demoGiantHPmonitor.psc,Scripts/Source/E3demoJumpAheadScript.psc,Scripts/Source/E3demoMammothHPmonitor.psc,Scripts/Source/E3demoWolfEncounterScript.psc
Scripts/Source/EffectShader.psc
Scripts/Source/ElderScrollScript.psc
Scripts/Source/Enchantment.psc
Scripts/Source/EncounterZone.psc
Scripts/Source/EquipSlot.psc
Scripts/Source/ErikBecomesSlayer.psc
Scripts/Source/ExecutionInterruptTriggerScript.psc
Scripts/Source/Explosion.psc
Scripts/Source/MG*
Scripts/Source/M[Q-X]*
Scripts/Source/M[A-X]*
Scripts/Source/N*
Scripts/Source/O*
Scripts/Source/P4PExergameQuestScript.psc
Scripts/Source/P4PPlayerReferenceAlias.psc
Scripts/Source/P4PQuestScript.psc
Scripts/Source/P4P_TIF__0200CA0D.psc
Scripts/Source/P4P_TIF__03005378.psc
Scripts/Source/P4P_TIF__04011AD3.psc
Scripts/Source/P4P_TIF__04015B78.psc
Scripts/Source/P[A-K]*
Scripts/Source/P[M-Z]*
Scripts/Source/PL[A-T]*
Scripts/Source/PL[V-Z]*
Scripts/Source/[Q-Z]*
*.bsa
*.obj
*.esm
Sound/
Strings/
*.tlog
shadersfx/
webserviceTest/packages/cpprestsdk.v120.winapp.msvcstl.dyn.rt-dyn.2.7.0/build/native/include/cpprest/http_client.h
webserviceTest/Debug/[A-V]*
webserviceTest/[A-V]*
Scripts/Source/ewfewfwef.psc
SkyUI.esp
Video/BGS_Logo.bik
fomod/info.xml
fomod/screenshot.jpg
fomod/script.cs
SKSE/Plugins/plugin_example.dll
SKSE/Plugins/webserviceTest.exe
SKSE/Plugins/cpprest120_2_7.dll
SKSE/Plugins/
Scripts/Source/pLurbukScript.psc
Interface/Translate_ENGLISH.txt
Interface/translations/
Interface/skyui/
Interface/Exported/
Interface/bartermenu.swf
Interface/clear.png
Interface/clear.swf
Interface/containermenu.swf
Interface/craftingmenu.swf
Interface/favoritesmenu.swf
Interface/giftmenu.swf
Interface/inventorymenu.swf
Interface/magicmenu.swf
Interface/map.swf
Interface/quest_journal.swf
Interface/t.png
Interface/test1.dds
Interface/test2.dds
Interface/testImage.swf
*.xml
!plugin_example/test_suite/test_suite.cpp
HighResTexturePack01.esp
HighResTexturePack02.esp
HighResTexturePack03.esp
*.opendb
*.txt
*.log
*.cache
*.exe


