DialogueViews/
LSData/
SKSE/Plugins/FISS/
FISS.esp
SEQ/P4PJakTanNPC.SEQ
SKSE/Plugins/Exercise_dataExample.txt
SKSE/Plugins/StackedLevelDistributionsExample.txt
SKSE/Plugins/exerciseDataSync.dll
SKSE/Plugins/fiss.dll
Scripts.rar
*.pex
Scripts/Source/C*
Scripts/Source/[A-D]*
Scripts/Source/[F-L]*
Scripts/Source/MS06IntroTrigScript.psc
Scripts/Source/MS06switchTosserSCRIPT.psc
Scripts/Source/E3*
Scripts/Source/E3DemodragonFinaleScript.psc,Scripts/Source/E3demoDragon01HPmonitor.psc,Scripts/Source/E3demoGiantHPmonitor.psc,Scripts/Source/E3demoJumpAheadScript.psc,Scripts/Source/E3demoMammothHPmonitor.psc,Scripts/Source/E3demoWolfEncounterScript.psc
Scripts/Source/EffectShader.psc
Scripts/Source/ElderScrollScript.psc
Scripts/Source/Enchantment.psc
Scripts/Source/EncounterZone.psc
Scripts/Source/EquipSlot.psc
Scripts/Source/ErikBecomesSlayer.psc
Scripts/Source/ExecutionInterruptTriggerScript.psc
Scripts/Source/Explosion.psc
Scripts/Source/MG*
Scripts/Source/M[Q-X]*
Scripts/Source/M[A-X]*
Scripts/Source/N*
Scripts/Source/O*
Scripts/Source/P4PExergameQuestScript.psc
Scripts/Source/P4PPlayerReferenceAlias.psc
Scripts/Source/P4PQuestScript.psc
Scripts/Source/P4P_TIF__0200CA0D.psc
Scripts/Source/P4P_TIF__03005378.psc
Scripts/Source/P4P_TIF__04011AD3.psc
Scripts/Source/P4P_TIF__04015B78.psc
Scripts/Source/P[A-K]*
Scripts/Source/P[M-Z]*
Scripts/Source/PL[A-T]*
Scripts/Source/PL[V-Z]*
Scripts/Source/[Q-Z]*
*.bsa
*.obj
*.esm
Sound/
Strings/
*.tlog
plugin_example/common/
plugin_example/skse/
shadersfx/
webserviceTest/packages/cpprestsdk.v120.winapp.msvcstl.dyn.rt-dyn.2.7.0/build/native/include/cpprest/http_client.h
webserviceTest/Debug/[A-V]*
webserviceTest/[A-V]*
Scripts/Source/ewfewfwef.psc
SkyUI.esp
Video/BGS_Logo.bik
fomod/info.xml
fomod/screenshot.jpg
fomod/script.cs
plugin_example/Debug/common.lib
plugin_example/Debug/plugin_example.dll
plugin_example/Debug/plugin_example.exp
plugin_example/Debug/plugin_example.ilk
plugin_example/Debug/plugin_example.lib
plugin_example/Debug/plugin_example.pdb
plugin_example/Debug/skse.lib
plugin_example/plugin_example.sdf
plugin_example/plugin_example.sln
plugin_example/plugin_example.suo
plugin_example/plugin_example.v12.suo.doc
plugin_example/plugin_example/Debug/plugin_example.Build.CppClean.log.txt
plugin_example/plugin_example/Debug/plugin_example.log.txt
plugin_example/plugin_example/Debug/vc120.idb
plugin_example/plugin_example/Debug/vc120.pdb
plugin_example/plugin_example/exports.def
plugin_example/plugin_example/plugin_example.vcxproj
plugin_example/plugin_example/scripts/MyPluginScript.psc
webserviceTest/.vs/webserviceTest/v14/_suo.doc
webserviceTest/webserviceTest.VC.db
webserviceTest/webserviceTest.opensdf
webserviceTest/webserviceTest.sdf
webserviceTest/webserviceTest.sln
webserviceTest/webserviceTest.v12.suo(2).doc
webserviceTest/webserviceTest.v12.suo.doc
webserviceTest/webserviceTest/Debug/vc120.idb
webserviceTest/webserviceTest/Debug/vc120.pdb
webserviceTest/webserviceTest/Debug/webserviceTest.Build.CppClean.log.txt
webserviceTest/webserviceTest/Debug/webserviceTest.log(2).txt
webserviceTest/webserviceTest/Debug/webserviceTest.log.txt
webserviceTest/webserviceTest/Debug/webserviceTest.pch
webserviceTest/webserviceTest/ReadMe.txt
webserviceTest/webserviceTest/Release/vc120.pdb
webserviceTest/webserviceTest/Release/webserviceTest.Build.CppClean.log.txt
webserviceTest/webserviceTest/Release/webserviceTest.log(2).txt
webserviceTest/webserviceTest/Release/webserviceTest.log.txt
webserviceTest/webserviceTest/Release/webserviceTest.pch
webserviceTest/webserviceTest/exerciseData.txt
webserviceTest/webserviceTest/kevin.txt
webserviceTest/webserviceTest/packages.config
webserviceTest/webserviceTest/results.html
webserviceTest/webserviceTest/results.txt
webserviceTest/webserviceTest/stdafx.cpp
webserviceTest/webserviceTest/stdafx.h
webserviceTest/webserviceTest/targetver.h
webserviceTest/webserviceTest/webserviceTest.vcxproj
webserviceTest/webserviceTest/webserviceTest.vcxproj.filters
webserviceTest/webserviceTest/xmlTestfile.txt
SKSE/Plugins/cpprest120_2_7.dll
plugin_example/.vs/plugin_example/v14/.suo
plugin_example/Debug/common.pdb
plugin_example/Debug/skse.pdb
plugin_example/plugin_example.VC.db
plugin_example/plugin_example.v12.suo
plugin_example/plugin_example/Debug/plugin_example.Build.CppClean.log
plugin_example/plugin_example/Debug/plugin_example.log
plugin_example/plugin_example/Debug/vc140.idb
plugin_example/plugin_example/Debug/vc140.pdb
SKSE/Plugins/plugin_example.dll
SKSE/Plugins/webserviceTest.exe
SKSE/Plugins/
plugin_example/Debug/
plugin_example/plugin_example/Debug/
plugin_example/plugin_example/Release/
plugin_example/test_suite/Debug/
plugin_example/test_suite/Release/
plugin_example/test_suite/targetver.h
plugin_example/test_suite/stdafx.cpp
plugin_example/test_suite/stdafx.h
webserviceTest/webserviceTest/webserviceTest.vcxproj.user
plugin_example/test_suite/test_suite.vcxproj
plugin_example/test_suite/test_suite.vcxproj.filters
webserviceTest/webserviceTest.v12.suo
webserviceTest/webserviceTest/Debug/
webserviceTest/webserviceTest/Release/
plugin_example/plugin_example.VC.VC.opendb
webserviceTest/webserviceTest.VC.VC.opendb
Scripts/Source/pLurbukScript.psc
plugin_example/plugin_example.opensdf
plugin_example/plugin_example/plugin_example.vcxproj.filters
webserviceTest/.vs/webserviceTest/v14/.suo
plugin_example/test_suite/.vs/test_suite/v14/.suo
plugin_example/test_suite/ReadMe.txt
plugin_example/test_suite/ipch/TEST_SUITE-731eddab/TEST_SUITE-326e9d5.ipch
plugin_example/test_suite/test_suite.VC.VC.opendb
plugin_example/test_suite/test_suite.VC.db
plugin_example/test_suite/test_suite.sln
plugin_example/test_suite/test_suite.vcxproj.user
Interface/Translate_ENGLISH.txt
Interface/translations/
Interface/skyui/
Interface/Exported/
Interface/bartermenu.swf
Interface/clear.png
Interface/clear.swf
Interface/containermenu.swf
Interface/craftingmenu.swf
Interface/favoritesmenu.swf
Interface/giftmenu.swf
Interface/inventorymenu.swf
Interface/magicmenu.swf
Interface/map.swf
Interface/quest_journal.swf
Interface/t.png
Interface/test1.dds
Interface/test2.dds
Interface/testImage.swf
